<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <h1>Edit Item</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/todo">Back to List</a></li>
                <li><a href="/todo/<%= item._id %>">Back to Item</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li><input type="text" name="name" placeholder="<%= item.name %> "></li>
            <li><input type="text" name="name" placeholder="<%= item.item %> "></li>
        </ul>
        <form action="/todo/<%= item._id %>?_method=PUT" method="post">
            <input type="submit" value="Edit">
        </form>
    </main>
</body>
</html>