<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>New To-Do</title>
</head>
<body>
    <h1>New To-Do</h1>
    <main>
        <div class="lines"></div>
        <ul class="list">
            <li>
                <form action="/todo" method="post">
                    <input type="text" name="name" placeholder="To-do">
                    <input type="text" name="item" placeholder="Details">
                    <!-- <label for="check">Done?</label><input type="checkbox" id="check" name="done"> -->
                    <button type="submit">
                        <i class="bi bi-file-earmark-plus-fill"></i>
                    </button>
                </form>
            </li>
        </ul>
        <a href="/todo">
            <i class="bi-box-arrow-left" style="font-size:40px;"></i>
        </a>
    </main>
</body>
</html>