<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New To-Do</title>
</head>
<body>
    <h1>New To-Do</h1>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/todo">Back</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li>
                <form action="/todo" method="post">
                    <input type="text" name="name" placeholder="Item Name">
                    <input type="text" name="item" placeholder="Item">
                    <!-- <label for="check">Done?</label><input type="checkbox" id="check" name="done"> -->
                    <input type="submit" value="Add">
                </form>
            </li>
        </ul>
    </main>
</body>
</html>