<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do Item</title>
</head>
<body>
    <h1>To-do Item</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/todo">Back to list</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            <li>
                <%= item.name %>
                <%= item.item %>
            </li>
            <form action="/todo/<%= item._id %>/edit">
                <input type="submit" value="Edit">
            </form>
            <form action="/todo/<%= item._id %>?_method=DELETE" method="post">
                <input type="submit" value="Remove">
            </form>
        </ul>
    </main>
</body>
</html>