/* Global */
body {
    background-color: rgb(255, 249, 201);
    padding: 100px;
    border: 2px solid;
    border-radius: 50px;
    margin: 30px;
    display: block;
    align-content: center;
}
main {
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 85px;
}
ul {
    margin: 0 auto;
}
.list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
  }
div {
    display: flex;
    justify-content: space-between;
}
.list li {
    list-style: none;
    border-bottom: 3px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  }
li {
    list-style: none;
    font-size: x-large;
}
a {
    text-decoration: none;
    color: black;
}
span {
    text-align: left;
}
i {
    font-size: xx-large;
}
input {
    border-radius: 5px;
}
button {
    background-color: transparent;
    border: 0px;
}
button:hover {
    color: aqua;
}
#back {
    size: 20px;
}
